#webgl-scene-wrapper {
    height: 100%;    
    height: 100%;

    #simulation-info-section {
        position: absolute;
        width: 50%;
        height: 50%;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        font-size: 3rem;
        color: rgb(176, 176, 176);
    }

    #options-button {
        position: absolute;
        top: 24px;
        left: 24px;

        ion-fab-button {
            --background: white;
            --color: black;
        }
    }

    #start-button {
        position: absolute;
        top: 24px;
        left: 100px;

        ion-fab-button {
            --background: rgb(167, 222, 40);
        }
    }

    #pause-button, #resume-button {
        position: absolute;
        top: 24px;
        left: 100px;

        ion-fab-button {
            --background: white;
            --color: black;
        }
    }

    #stop-button {
        position: absolute;
        top: 24px;
        left: 176px;

        // ion-fab-button {
        //     --background: white;
        //     --color: black;
        // }
    }
    

    #simulation-options-section {
        display: flex column;
        height: auto;
        width: 30vw;
        position: absolute;
        top: 50px;
        opacity: 0;
        transition: all 0.25s ease-in-out;
        border: 1px solid rgb(220, 220, 220);
        border-radius: 12px;
        overflow: hidden;

        &.active {
            opacity: 1;
            top: 112px;
        }

        ion-range::part(pin) {
            transform: translate3d(0px, 10px, 0px) scale(1);
          }

        ion-range[unit="%"]::part(pin)::after { content: "%"; }
        ion-range[unit="ms"]::part(pin)::after { content: "ms"; }
        ion-range[unit="mv"]::part(pin)::after { content: "mV"; }
        ion-range[unit="ohm"]::part(pin)::after { content: "\2126"; }

        ion-input[unit="%"]::after { content: "%"; }
        ion-input[unit="ms"]::after { content: "ms"; }
        ion-input[unit="mv"]::after { content: "mV"; }
        ion-input[unit="ohm"]::after { content: "\2126"; }

        .group {
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;
            height: auto;
            width: 100%;
            background-color: white;

            ion-item {
                // flex: 1;
                // width: 100%;
                width: 50%;
                
                &.full-width {
                    width: 100%;
                }

                ion-label {
                    min-width: 20%;
                    font-style: italic;
                    overflow: visible;
                }
            }
        }

        ion-label {
            // min-width: 40%;
            font-weight: 700;

            sub, sup {
                font-weight: normal;
                font-style: italic;
            }
        }

        ion-input {
            text-align: right;
            padding-right: 15px;
        }
    }
}