<ion-header>
  <ion-toolbar>
    <ion-title>
      <div class="title">EA #1: Image Classification with ML5</div>
      <div class="subtitle">by Dominic Schiller - dominic.schiller@th-brandenburg.de</div>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div id="ea1-content">

    <div id="files-section">
      <h2>Image Upload</h2>
      <div id="drag-and-drop-section">
        <app-file-uploader></app-file-uploader>
      </div>
      <h2>Images Browser</h2>
      <div id="files-browser-section">
        <app-image-browser></app-image-browser>
      </div>
    </div>
    <div id="classification-section">
      <h2>Image Classification</h2>
      <div class="widget">
        <div class="loader" *ngIf="!isML5ServiceReady">
          <ion-spinner name="crescent" class="test"></ion-spinner>
          <div class="label">Loading pre-trained MobileNet model</div>
        </div>
        <div id="image-preview-section"  *ngIf="isML5ServiceReady">
          <app-image-preview></app-image-preview>
        </div>
        <div id="diagram-section"  *ngIf="isML5ServiceReady">
          <app-ml5-d3-chart-viewer></app-ml5-d3-chart-viewer>
        </div>
      </div> 
    </div>
  </div>
</ion-content>
