<ion-header>
  <ion-toolbar>
    <ion-title>index</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div id="ea2-content">
    <div id="charts-section">
      <div class="chart-wrapper">
        <app-snn-line-chart [data]="currentData" [showMean]=true></app-snn-line-chart>
      </div>
      <div class="chart-wrapper">
        <!-- <app-snn-line-chart [data]="potentialData"></app-snn-line-chart> -->
        <app-snn-scatter-chart [data]="globalSpikes"></app-snn-scatter-chart>
      </div>
     
    </div>
   
  </div>
  
</ion-content>
